<a href="<%= cats_url %>">back to index</a>
<h1>Stats for <%= @cat.name %></h1>
<ul>
    <li>Name: <%= @cat.name %></li>
    <li>Age: <%= @cat.age %></li>
    <li>Color: <%= @cat.color %></li>
    <li>Gender: <%= @cat.sex %></li>
    <% if @cat.description != "" || !@cat.description.nil? %>
        <li><%= @cat.description %></li>
    <% end %>
</ul>
<a href="<%= edit_cat_url(@cat)%>">edit cat</a>

<h2>Rent Requests</h2>
<table>
    <thead>
        <tr>
            <td>Start date</td>
            <td>End date</td>
            <td>Status</td>
        </tr>
    </thead>
    <tbody>
        <% if @cat.rental_requests.empty? %>
            <tr>
                <td colspan="3">
                    <%= @cat.name + " has no rent requests" %>
                </td>
            </tr>
        <% else %>
            <% @cat.rental_requests.order(:start_date).each do |crr| %>
                <tr>
                    <td><%= crr.start_date %></td>
                    <td><%= crr.end_date %></td>
                    <td><%= crr.status %></td>
                </tr>
            <% end %>
        <% end %>
    </tbody>
</table>

<p><a href="<%= new_cat_cat_rental_requests_url(@cat) %>">rent <%= @cat.name %></a></p>