<h1>Stats for <%= @cat.name %></h1>
<ul>
    <li>Name: <%= @cat.name %></li>
    <li><%= @cat.age %> years old</li>
    <li>Color: <%= @cat.color %></li>
    <li>Gender: <%= @cat.sex %></li>
    <li><%= @cat.description || "no description" %></li>
</ul>